<settings>
    <setting propertyKey="@Properties.OpenWeatherEnabled" title="@Strings.OpenWeatherEnabledTitle">
        <settingConfig type="boolean"/>
    </setting>
    <setting propertyKey="@Properties.OpenWeatherAPIKey" title="@Strings.OpenWeatherAPIKeyTitle">
        <settingConfig type="alphaNumeric"/>
    </setting>
    <setting propertyKey="@Properties.OpenWeatherIntervalMinutes" title="@Strings.OpenWeatherIntervalMinutesTitle">
        <settingConfig type="list" required="true">
            <listEntry value="30">30 minutes</listEntry>
            <listEntry value="60">1 hour</listEntry>
            <listEntry value="120">2 hours</listEntry>
            <listEntry value="180">3 hours</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.OpenWeatherLat" title="@Strings.OpenWeatherLatTitle" prompt="52.3712021803846">
        <settingConfig type="alphaNumeric"/>
    </setting>
    <setting propertyKey="@Properties.OpenWeatherLon" title="@Strings.OpenWeatherLonTitle" prompt="4.896856834375711">
        <settingConfig type="alphaNumeric"/>
    </setting>
</settings>