<settings>
    <setting propertyKey="@Properties.OpenWeatherEnabled" title="@Strings.OpenWeatherEnabledTitle">
        <settingConfig type="boolean"/>
    </setting>
    <setting propertyKey="@Properties.OpenWeatherAPIKey" title="@Strings.OpenWeatherAPIKeyTitle">
        <settingConfig type="alphaNumeric"/>
    </setting>
    <setting propertyKey="@Properties.OpenWeatherIntervalMinutes" title="@Strings.OpenWeatherIntervalMinutesTitle">
        <settingConfig type="list" required="true">
            <listEntry value="30">30 minutes</listEntry>
            <listEntry value="60">1 hour</listEntry>
            <listEntry value="120">2 hours</listEntry>
            <listEntry value="180">3 hours</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.OpenWeatherLat" title="@Strings.OpenWeatherLatTitle" prompt="52.3712021803846">
        <settingConfig type="alphaNumeric"/>
    </setting>
    <setting propertyKey="@Properties.OpenWeatherLon" title="@Strings.OpenWeatherLonTitle" prompt="4.896856834375711">
        <settingConfig type="alphaNumeric"/>
    </setting>
    <setting propertyKey="@Properties.DateFormat" title="@Strings.DateFormatTitle">
        <settingConfig type="list" required="true">
            <listEntry value="0">dd MM(English)</listEntry>
            <listEntry value="1">MM/dd</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.SecondTimeFormat" title="@Strings.SecondTimeFormatTitle" prompt="12.75 (as +12:45 e.g. -4:30 have to be written as -4.5)">
        <settingConfig type="numeric" min="-12" max="14" required="true" />
    </setting>
    <setting propertyKey="@Properties.DotHourTransparency" title="@Strings.DotHourTransparencyTitle">
        <settingConfig type="list" required="true">
            <listEntry value="0">0%</listEntry>
            <listEntry value="25">25%</listEntry>
            <listEntry value="50">50%</listEntry>
            <listEntry value="75">75%</listEntry>
            <listEntry value="100">100%</listEntry>
        </settingConfig>
    </setting>
</settings>